@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(248, 251, 252, 1);
  color: rgba(7, 45, 74, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 76px;
  background: rgba(229, 244, 247, 0.8);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(229, 244, 247, 0.8);
  backdrop-filter: blur(80px);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 26px 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 300px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 16px;
  background: rgba(229, 244, 247, 0.8);
  backdrop-filter: blur(80px);
}
.navigation__list.is-open {
  right: 0;
}
.header-title {
  width: 239px;
  height: 28px;
}
.navigation__link {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: right;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(7, 45, 74, 1);

  height: 47px;
  padding: 10px;
  border-radius: 12px;
  border-width: 1px;
}
.navigation__link:hover,
.navigation__link:focus {
  background: rgba(184, 222, 233, 1);
  border: 1px solid rgba(0, 134, 212, 1);
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    margin-right: 30px;
    width: 373px;
    height: 40px;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 95px;
    padding: 10px 0px 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 10px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  padding: 132px 14px 42px;
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Inter;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}

.home-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  padding: 24px 0 40px;
}
.home__google-button_image {
  width: 345px;
  height: 44px;
}
.home__google-button_link:hover .home__google-button_image {
  content: url("/image/bb.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.home-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .home-img {
    display: flex;
  }
  .home {
    width: 1440px;
    padding: 164px 72px 104px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 746px;
    justify-content: start;
  }
  .home-title {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: left;
  }

  .home-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    padding: 40px 0 56;
  }
  .home__google-button_image {
    width: 196px;
    height: 48px;
    content: url("/image/dd.png");
  }
  .home__google-button_link:hover .home__google-button_image {
    content: url("/image/desk-hover.png");
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
}
.about {
  padding: 36px 16px;
  margin: auto;
  width: 375px;
}

.about-title {
  font-family: Inter;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0%;
}
.about-div {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.about-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 60px 72px;
    width: 1440px;
  }

  .about-title {
    font-family: Inter;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0%;
  }
  .about-div {
    padding-top: 0px;
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
    align-items: center;
  }
  .about-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  .about-img {
    content: url("/image/about\ pics.png");
  }
}
.how {
  width: 375px;
  margin: auto;
  padding: 30px 16px;
}

.how-list {
  padding: 32px 0 12px;
}
.how-item {
  margin: 0 8px;
  width: 343px;
  height: 93px;
  padding: 8px;
  border: 1px solid rgba(0, 134, 212, 1);
}

.how-text-bold {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
}
.how-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  padding-top: 8px;
}
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  content: none;
}

.slick-dots li {
  list-style: none;
  width: 32px;
  height: 32px;
  content: none;
}
.slick-dots li button:before {
  content: none;
}
.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/image/how/Component\ 1\ \(1\).png") no-repeat center/cover;
  font-size: 0;
  content: none;
}

.slick-dots li.slick-active button {
  background: url("/image/how/Component\ 1.png") no-repeat center/cover;
}
.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}
.how-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.how-lists {
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery-button-container-two {
    display: none;
  }
  .how {
    width: 1440px;
    padding: 60px 72px;
  }
  .how-list {
    display: none;
  }
  .how-lists {
    display: flex;
    flex-wrap: wrap;
    width: 726px;
    margin: auto;
    margin-top: 56px;
  }
  .how-item {
    width: 242px;
    height: 242px;
    padding: 40px 16px;
    margin: 0;
  }
  .how-item-two {
    background: rgba(196, 230, 240, 1);
    border: 1px solid rgba(0, 134, 212, 1);
    box-shadow: 11px 11px 15px 0px rgba(7, 45, 74, 0.2) inset,
      -11px -11px 10px 0px rgba(7, 45, 74, 0.2) inset;
  }
  .how-text-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
  }
  .how-text {
    padding-top: 8px;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}

.reviews {
  width: 375px;
  margin: auto;
  padding: 30px 16px;
}

.reviews-list {
  padding: 32px 0 12px;
}
.reviews-item {
  margin: 0 5px;
  width: 343px;
  height: 145px;
  padding: 16px;
  background: rgba(184, 222, 233, 1);
  transition: all 0.3s ease-in-out;
  border-radius: 12px;
}
.reviews-item:hover {
  background: rgba(213, 237, 244, 1);
}
.reviews-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews-text-bold {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
}
.reviews-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  padding-top: 18px;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 60px 72px;
  }

  .reviews-list {
    padding: 56px 0 30px;
  }
  .reviews-item {
    margin: 0 12px;
    width: 526px;
    height: 200px;
    padding: 16px;
    border-radius: 12px;
  }
  .reviews-item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .reviews-text-bold {
    font-family: Inter;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0%;
  }
  .reviews-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
  }
}

.faq {
  padding: 30px 16px;
  margin: auto;
  width: 375px;
}
.faq-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-item {
  padding: 16px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  border: 2px solid rgba(0, 134, 212, 1);
}
.faq-item:hover {
  background: rgba(232, 242, 245, 1);
}
.faq-question {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
}

.faq-answer {
  padding-top: 8px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 60px 72px;
    width: 1440px;
  }
  .faq-container {
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .faq-item {
    width: 416px;
    height: 272px;
    padding: 16px;
    border-radius: 12px;
  }

  .faq-question {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: Inter;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0%;
    height: 84px;
  }

  .faq-answer {
    padding-top: 12px;
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
  }
}
.gallery {
  width: 375px;

  margin: auto;
  padding: 30px 16px 56px;
}

.gallery__list {
  width: auto;
  padding: 32px 0 16px;
}
.gallery__item {
  width: 253px;
  height: 562px;
  border-radius: 12px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slick-prev:before {
  content: "←";
  display: none;
}
.slick-next:before {
  content: "→";
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    padding: 60px 72px 140px;
  }

  .gallery__item {
    width: 309px;
    height: 687px;
    border-radius: 12px;
  }

  .gallery__list {
    width: 1076px;
    padding: 56px 0;
    margin: auto;
  }
  .slick-prev:before {
    content: url("/image/how/button left-right.png");
    display: flex;
    margin-left: -60px;
  }
  .slick-next:before {
    content: url("/image/how/button\ left-right\ \(1\).png");
    display: flex;
    margin-left: 45px;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 42px 16px;
}

.features-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}
.features-item {
  width: 343px;
  height: 144px;
  padding: 8px;
  border-bottom: 1px solid rgba(184, 222, 233, 1);
}
.features-item-top {
  display: flex;
  align-items: center;
  gap: 4px;
}
.features-number {
  border: 1px solid rgba(7, 45, 74, 1);
  width: 32px;
  height: 32px;
  border-radius: 36px;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-text-bold {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
}
.features-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 8px;
  padding-left: 36px;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    padding: 104px 72px 60px;
  }

  .features-list {
    padding-top: 56px;
  }
  .features-item {
    width: 1297px;
    height: 120px;
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .features-item-top {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .features-number {
    width: 58px;
    height: 58px;
    border-radius: 36px;
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
  }
  .features-text-bold {
    font-family: Inter;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0%;
  }
  .features-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    padding: 0;
    width: 489px;
  }
}
.footer {
  background: rgba(229, 244, 247, 0.8);
  padding: 40px 32px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;

  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.footer-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: Auto;
  text-decoration-thickness: Auto;
  text-decoration-skip-ink: auto;
  transition: all 0.3s ease-in-out;
  color: rgba(7, 45, 74, 1);
}
.footer-text:hover {
  color: rgba(34, 98, 147, 1);
}
.footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 40px 0px;
  }
  .footer-container {
    gap: 16px;
  }

  .footer-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: Auto;
    text-decoration-thickness: Auto;
    text-decoration-skip-ink: auto;
  }

  .footer-copyright {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 116px 16px 40px;
}
.policy-terms-title {
  font-family: Inter;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}

.policy-terms-text {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 176px 72px 112px;
  }
  .policy-terms-title {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: center;
  }

  .policy-terms-text {
    font-family: Inter;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0%;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }
  .policy-terms-text-one {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  border-radius: 24px;

  background: rgba(196, 230, 240, 1);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}
.cookie-button-container {
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cookie-button {
  border: none;
  background-color: transparent;
  width: 143px;
  height: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 14px;
  border: 1px solid rgba(0, 134, 212, 1);
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(7, 45, 74, 1);
}
#accept-cookies {
  background: rgba(25, 59, 84, 1);
  color: rgba(248, 251, 252, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    width: 648px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 20px 30px;
    display: none;
  }
}
